.navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: lightsalmon;
}

.navbar img {
    height: 60px;
    cursor: pointer;
     }

.cart-button {
    height: 40px;
    width: 50px;
    color: white;
    background-color: maroon;
    padding: 25px 0 0 10px;
    cursor: pointer;
}     