
<button routerLink="/admin">Mine tagasi</button>

<br>
<br>

<form (ngSubmit)="onChangeSettings()" [formGroup]="changeSettingsForm">
    <label>Liikumise kiirus</label>
    <input type="number"formControlName="interval" required><br>
    <label>Käib ringi</label>
    <input type="checkbox"formControlName="wrap"><br>
    <label>Klaviatuuriga liigutatav</label>
    <input type="checkbox"formControlName="keyboard"><br>
    <label>Hiirega paus</label>
    <input type="checkbox"formControlName="pauseOnHover"><br>
    <button>SALVESTA</button>

</form>

<br>
<br>

<div class="images">
    <div class="image" *ngFor="let image of images; let i = index">
        <img src="{{image.url}}">
        <div>Pildi pealkiri: {{image.header}}</div>
        <div>Pildi tekst: {{image.text}}</div>
        <div>Pildi alternatiivtekst: {{image.alt}}</div>
        <button (click)="onDeleteImage(i)">X</button>
        <br>
    </div>
</div>

<br>
<br>
<form (ngSubmit)="onAddImage(addImageForm)" #addImageForm="ngForm">
    <label>Pilt</label>
    <input type="text" ngModel name="url" required><br>
    <label>Pealkiri</label>
    <input type="text" ngModel name="header" required><br>
    <label>tekst</label>
    <input type="text" ngModel name="text" required><br>
    <label>alternatiivtekst</label>
    <input type="text" ngModel name="alt" required><br>
    <button [disabled]="addImageForm.invalid">Lisa</button>
</form>
