<div *ngIf="cartItems.length > 0" class="btn btn-danger" 
(click)="onEmptyCart()">Tühjenda ostukorv</div>

<div *ngIf="cartItems.length == 0"> Ostukorv on tühi</div>
<div *ngFor="let cartItem of cartItems; let i = index">
 <img class="item-pict" src="{{cartItem.imgSrc}}">
 <div class="item-title"> {{ cartItem.title }}</div>
 <div class="item-price"> {{ cartItem.price }}
     <!-- string interpolation -->
     <button (click)="onRemoveFromCart(i)">X</button>
    <br>
    <br>
 </div>
</div>
<br>
<br>

<div *ngIf="cartItems.length > 0">KOKKU: {{ sumOfCart }} EUR</div>

<!-- olemasolevad muutujad:
1. muutuja, mis on export class All
2. HTML- s tehtud uued muutujad "let" liidese abiga

vasakul on angulari osa või html-i osa
parema{l pool võrdusmärki on:
muutuja .ts- i seest
muutuja html- i seest (let liides)
css- i klass
funktsioon .ts- i sees-->

<!-- ei saa olla muutujaid, mis pole ei .ts ega html-i osa
ei saa olla funktsioone, mis pole .ts seest -->