<button routerLink="/admin">TAGASI</button>

<div *ngFor="let item of items; let i = index">
    <div>{{ item.title }}</div>
    <div>{{ item.price | itemPrice }}</div>
    <button (click)="onDeleteItem(i)">X</button><br>
    <button routerLink="/admin/muuda-ese/{{i}}">Muuda toodet</button>
    <br>
</div>

<!-- relatiivne teekond
alates kohast, kus ma olen
routerlink="../muuda-ese"
img src="../../assets/pilt.jpg"
import from '../services/'' -->


<!-- absoluutne teekond
alates juurest (sourc'ist)
routerLink="/admin/muuda-ese"
img src="assets/pilt.jpg"
import 'from src/app/services' -->