<button routerLink="/admin">TAGASI</button>
<br>

<button (click)="onSaveItemsToDatabase()">Salvesta esemed andmebaasi</button>
<br>

<div *ngFor="let item of items">
    <div>{{ item.title }}</div>
    <div>{{ item.price | itemPrice }}</div>
    <button (click)="onDeleteItem(item.id)">X</button><br>
    <button routerLink="/admin/muuda-ese/{{item.id}}">Muuda toodet</button>
    <br>
</div>

<!-- relatiivne teekond
alates kohast, kus ma olen
routerlink="../muuda-ese"
img src="../../assets/pilt.jpg"
import from '../services/'' -->


<!-- absoluutne teekond
alates juurest (sourc'ist)
routerLink="/admin/muuda-ese"
img src="assets/pilt.jpg"
import 'from src/app/services' -->